@charset "utf-8";

/* Default Template CSS */
body {
  margin: 0;
  padding: 0;
  background-color: #cccccc;
  color: #333333;
  font-size: 15px;
  line-height: 2;
}

p,h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
}

img {
  vertical-align: bottom;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: #3583aa;
  text-decoration: none;
}

a:visited {
  color: #788d98;
}

a:hover {
  text-decoration: underline;
}

header {
  width: 960px;
  height: 100px;
  margin: 0 auto;
}

.logo {
  float: left;
  margin-top: 25px;
}

.logo img {
  width: auto;
  height: 75px;
}

.global-nav {
  float: right;
  margin-top: 60px;
}

.global-nav li {
  float: left;
  margin: 0 20px;
  font-size: 20px;
  list-style: none;
  font-family: 'Bitter', serif;
}

.global-nav li a {
  color: #ffffff;
}

.global-nav li a:hover {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 3px;
  text-decoration: none;
}

#wrap {
  width: 100%;
  margin: 180px auto 0px;
  clear: both;
  background-color: #ffffff;
/*  background-color: rgba(255, 255, 255, 0.8); */
  padding: 35px 0;
}

.content {
  width: 960px;
  margin: 0 auto;
}

footer {
  width: 100%;
  margin: 0px auto 0px;
  text-align: center;
  color: #ffffff;
  padding: 20px 0;
  background-color: #767671;
}

footer small {
  font-size: 12px;
}

#index h1 {
  font-size: 100px;
  line-height: 1;
  color: #ffffff;
  font-family: 'Bitter', serif;
  margin-bottom: 50px;
  border: none;
}

#index p {
  font-size: 16px;
  color:#ffffff;
}

#index .content {
  margin-top: 150px;
}

.btn a {
  background-color: #009cd3;
  color: #ffffff;
  font-size: 20px;
  font-family: 'Bitter', serif;
  width: 185px;
  display: block;
  text-align: center;
  line-height: 50px;
  margin-top: 20px;
  border-radius: 5px;
  border: 3px solid #009cd3;
}

.btn a:hover {
  text-decoration: none;
  background-color: #ffffff;
  color: #009cd3;
}

#index footer {
  margin: 150px auto 0 auto;
  padding-left: 5%;
  text-align: left;
  background-color: transparent;
}

#index {
  background-image: url(../img/bg-index.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

#about {
  background-image: url(../img/bg-about.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100% auto;
}

.main-center {
  width: 940px;
  margin: 0 auto;
}

h1 {
  font-family: 'Bitter', serif;
  font-size: 36px;
  border-bottom: 1px solid #cccccc;
}

h2 {
  font-family: 'Bitter', serif;
  font-size: 24px;
}

.icon:before{
  content: "";
  padding-right: 10px;
  border-left: 7px solid #9cb4a4;

}

#about .profile-txt {
  width: 540px;
  float: left;
}

#about .profile-txt span {
  font-weight: bold;
}

#about .profile-image {
  float: right;
  border-radius: 50%;
  margin-top: 10px;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

section {
  margin-bottom: 35px;
}

#about .career th {
  width: 240px;
  background-color: #f0f0f0;
  padding: 12px 0;
  border: 1px solid #cccccc;
}

#about .career td {
  width: 660px;
  padding: 12px 40px 12px 40px;
  border: 1px solid #cccccc;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

#index #wrap {
  width: 960px;
  background-color: transparent;
  margin-top: 0;
  padding: 0;
}

#portfolio {
  background-image: url(../img/bg-portfolio.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100% auto;
}

.main {
  width: 700px;
  margin: 0 10px;
  float: left;
}

.sidebar {
  width: 200px;
  margin: 0 10px 0 30px;
  float: right;
  font-family: 'Bitter', serif;
}

.sidebar h2 {
  margin-bottom: 10px;
}

.sidebar ul {
  font-size: 16px;
  margin-left: 20px;
}

.sidebar ul a {
  color: #333333;
}

.content a img:hover {
  opacity: 0.8;
}

#photograph {
  background-image: url(../img/bg-photograph.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100% auto;
}

#photograph .photograph-list li {
  float: left;
  list-style: none;
  margin: 0 20px 15px 0;
}

#photograph .photograph-list li:nth-child(3n) {
  margin-right: 0;
}

#video {
  background-image: url(../img/bg-video.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100% auto;
}

#contact {
  background-image: url(../img/bg-contact.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100% auto;
}

#contact .access table {
  float: left;
}

#contact .access th,
#contact .access td {
  text-align: left;
  vertical-align: top;
  line-height: 1.25;
  padding: 5px 0;
}

#contact .access td {
  padding-left: 30px;
}

#contact .access iframe {
  width: 460px;
  float: right;
}

#contact .form {
  background-color: #eaeaea;
  padding: 30px 50px;
}

#contact .form dl dt {
  width: 165px;
  padding: 10px 0;
  float: left;
  clear: both;
}

#contact .form dl dd {
  padding: 10px 0;
}

#contact .form .name {
  width: 240px;
  height: 30px;
}

#contact .form .email {
  width: 300px;
  height: 30px;
}

#contact .form .tel {
  width: 240px;
  height: 30px;
}

#contact .form .type {
  width: 180px;
  height: 30px;
}

#contact .form .message {
  width: 660px;
  height: 150px;
}

#contact .form button {
  background-color: #009cd3;
  color: #ffffff;
  font-size: 20px;
  width: 120px;
  display: block;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
  border: 3px solid #009cd3;
  margin-left: 165px;
}

#contact .form button:hover {
  background-color: #ffffff;
  color: #009cd3;
  cursor: pointer;
}

#contact .form .required:after {
  content: " * ";
  color: #ff0000;
}

#contact .form .attention {
  margin: 20px 0 0 165px;
}

@media screen and (max-width:960px) {

  /* Applicable when window width is less than 960px. */
  #wrap {
    width: 960px;
  }

  footer {
    width: 960px;
  }
}

@media screen and (max-width:600px) {
/* Applicable when window width is less than 600px. */

  body {
    font-size: 3.5vw;
  }

  h1 {
    font-size: 7.2vw;
  }

  h2 {
    font-size: 6vw;
  }

  header {
    width: auto;
    margin: 0 5%;
  }

  footer {
    width: auto;
  }

  .logo {
    float: none;
    margin-top: 30px;
    text-align: center;
  }

  .global-nav {
    float: none;
    margin-top: 20px;
    text-align: center;
  }

  .global-nav li {
    display: inline;
    float: none;
    margin: 0 8px;
  }

  #wrap {
    width:100%;
    margin-top: 40px;
  }

  #portfolio #wrap {
    padding: 35px 0 0;
  }

  #photograph #wrap {
    padding: 35px 0 0;
  }

  #video #wrap {
    padding: 35px 0 0;
  }

  .content {
    width: 100%;
  }

  .main {
    float: none;
    width: auto;
    margin: 0 5%;
  }

  h2 img {
    max-width: 100%;
  }

  .sidebar {
    width: auto;
    float: none;
    margin: 0;
    padding: 30px 10% 10px;
    background-color: #f7f6f4;
  }

  .main-center {
    width: auto;
    margin: 0 5%;
  }

  #about .profile-txt {
    width: auto;
    float: none;
  }

  #about .profile-image {
    float: none;
    display: block;
    width: 65%;
    margin: 0px auto;
  }

  #about .career th {
    width: 120px;
    background-color: #f0f0f0;
    padding: 12px 12px;
    border: 1px solid #cccccc;
  }

  #about .career td {
      width: auto;
      padding: 12px 12px 12px 12px;
      border: 1px solid #cccccc;
  }
  #contact .access table {
    float: none;
  }

  #contact .form {
    background-color: #eaeaea;
    padding: 30px 30px;
  }

  #contact .form dl dt {
    width: auto;
    padding: 0;
    float: none;
  }

  #contact .form dl dd {
    margin: 0;
    text-align: center;
  }

  #contact .form .name {
    width: 80%;
    height: 30px;
  }

  #contact .form .email {
    width: 80%;
    height: 30px;
  }

  #contact .form .tel {
    width: 80%;
    height: 30px;
  }

  #contact .form .type {
    width: 80%;
    height: 30px;
  }

  #contact .form .message {
    width: 80%;
    height: 150px;
  }

  #contact .form button {
    font-size: 5vw;
    width: auto;
    margin-left: 0;
    line-height: 5vw;
    padding: 10px 20px;
  }

  #contact .form .attention {
    margin: auto;
    margin-top: 20px;
  }

  #index footer {
    margin: 150px auto 0;
  }

  #index {
    background-image: url(../img/bg-index-sp.jpg);
    background-position: center top;
    background-size: cover;
  }

  #index #wrap {
    width: 100%;
    margin: 0 auto;
  }

  #index .content {
    width: auto;
    margin: 80px 5% 0 5%;
  }

  #index h1 {
    font-size: 10vw;
    margin-bottom: 12.5vw;
  }

  #index p {
    font-size: 4vw;
  }

  .btn a {
    font-size: 5vw;
    width: 30vw;
    line-height: 5vw;
    margin-top: 20px;
    padding: 10px 20px;
  }

}


/* For Testing */
@media screen and (max-width:600px) {

  #contact .access iframe {
    float: none;
    width: 100%;
    margin-top: 10px;
  }

  #video .main iframe {
    width: 100%;
  }

}
